.menu {
	text-align: center;
}

.menu li {
	border: 2px solid;
	display: inline-block;
}

.menu ul {
	list-style-type: none;
	margin: 10px;
	padding: 10px;
}

li > a {
	display: block;
	padding: 12px;
	color: white;
    font-size: 20px;
}

.menu a:hover {
	color: white;
    font-weight: bolder;
    font-size: 22px;
	background-color: #B33333;
}

.menu a.is-current {
    font-weight: bolder;
    font-size: 22px;
	background-color: #FF584F;
}
